{:paths ["scripts"]
 :tasks {:requires ([babashka.fs :as fs]
                    [clojure.string :as str]
                    [tasks])
         -opencode-config (tasks/generate-opencode-configuration)
         opencode {:depends [-opencode-config]
                   ;:task (shell {:extra-env {(if (fs/windows?) "Path" "PATH")
                   ;                    (str "on-path" fs/path-separator (System/getenv "PATH"))}}
                   ;             "opencode")
                   :task (shell "opencode")}
         ;start-repl (shell "clojure -M:dev:maths:repl/nrepl")
         start-repl (shell "clojure -M:dev:repl/nrepl")
         run-tests (shell "clojure -M:test:dev")}}

