{:paths   ["src"]
 :deps    {com.taoensso/timbre {:mvn/version "6.3.1"}
           io.github.borkdude/deflet {:mvn/version "0.1.0"}
           methodical/methodical {:mvn/version "0.15.1"}
           org.clojure/clojure     {:mvn/version "1.11.1"}
           org.babashka/cli {:mvn/version "0.7.52"}
           tesser.core/tesser.core {:mvn/version "1.0.6"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :exec {:main-opts ["-m" "babashka.cli.exec"]}
           :maths {:jvm-opts ["--add-exports=java.base/jdk.internal.ref=ALL-UNNAMED"
                              "--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"]
                   :extra-deps {cnuernber/dtype-next {:mvn/version "10.013"}
                                org.bytedeco/mkl-platform-redist {:mvn/version "2023.1-1.5.9"}
                                org.slf4j/slf4j-simple {:mvn/version "2.0.9"}
                                uncomplicate/neanderthal {:mvn/version "0.46.0"}}}
           :test {:exec-fn cognitect.test-runner.api/test
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "cognitect.test-runner"]}}}
