{:paths   ["src"]
 :deps    {org.clojure/clojure     {:mvn/version "1.11.1"}
           tesser.core/tesser.core {:mvn/version "1.0.6"}}
 :aliases {:exec {:extra-deps {org.babashka/cli {:mvn/version "0.6.45"}}
                  :exec-fn polyominoes.cli/-main
                  :main-opts ["-m" "babashka.cli.exec"]
                  :org.babashka/cli {:coerce {:cells :long}}}
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts  ["-m" "antq.core"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :nREPL {:extra-deps {cider/cider-nrepl             {:mvn/version "0.30.0"}
                                refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}
                   :main-opts  ["-m" "nrepl.cmdline"
                                "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}}
 }
