{:paths ["src"]
 :deps {com.taoensso/timbre {:mvn/version "6.6.1"}
        io.github.borkdude/deflet {:mvn/version "0.1.0"}
        methodical/methodical {:mvn/version "1.0.124"}
        org.clojure/clojure {:mvn/version "1.12.0"}
        org.babashka/cli {:mvn/version "0.8.60"}
        tesser.core/tesser.core {:mvn/version "1.0.6"}}
 :aliases {:dev {:extra-paths ["dev" "test"]}
           :patches {:extra-paths ["patches"]
                     :extra-deps {com.cnuernber/ham-fisted {:mvn/version "2.017"}}}
           :exec {:main-opts ["-m" "babashka.cli.exec"]}
           :maths {:jvm-opts ["--add-exports=java.base/jdk.internal.ref=ALL-UNNAMED"
                              "--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"
                              ;"-Djdk.attach.allowAttachSelf"
                              ]
                   :extra-deps {cnuernber/dtype-next {:mvn/version "10.119"}
                                org.slf4j/slf4j-simple {:mvn/version "2.0.16"}
                                uncomplicate/neanderthal {:mvn/version "0.50.0"}}}
           :test {:exec-fn cognitect.test-runner.api/test
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/sha "9d36f36ff541dac680a05010e4348c744333f191"}}
                  :extra-paths ["test"]
                  :jvm-opts ["-Dtaoensso.timbre.config.edn={:min-level :info}"]
                  :main-opts ["-m" "cognitect.test-runner"]}}}
